.help-block img{
  height:20px;
  width:20px;
}
.help-block{
  color:red;
}

form {
padding-left: 10px;
}

hr {
background-color: #f0f0f5;
}

th{
  width:20%;
  text-align: right;
  padding-right: 25px;
  font-weight: bold;
}

input[type=text] {
    padding: 8px 12px;
    margin: 8px 0;
    width:100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.myinfo{
    padding: 8px 12px;
    margin: 8px 0;
    width:100%;
}

.subUpload {
    padding: 8px 12px;
    margin: 8px 0;
    width:100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-weight: bold;
}
.fileUpload, input[type=submit] {
    padding: 8px 12px;
    margin: 8px 0;
    width:100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-weight: bold;
}

.seloption {
    padding: 10px 15px;
    margin: 8px 0;
    width:150px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.logout {
    font-size: 12px;
    font-weight: bold;
    background-color: #ffcce0;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
    top: 35px;
    right: 16px;
    position: absolute;
}

.subUpload:hover, input[type=submit]:hover, button:hover{
    box-shadow: 0 1px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#id_header {
    height: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #ccccff;
    text-align-last: right;
    padding-top: 2px;
    padding-right: 24px;
    text-align: right;
}

.title{
  padding-left: 10px;
  padding-top: 5px;
  float: left;
}

#id_footer {
    height: 40px;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #ccccff;
    padding: 10px;
}

h2{
    padding-top: 40px;
    padding-left: 10px;
}

.back{
    font-size: 12px;
    font-weight: bold;
    background-color: #b3ffb3;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
}

fieldset {
    border:0;
    padding:10px;
    margin-bottom:10px;
    background:-webkit-linear-gradient(top,#EEE,#FFF);
    background:-moz-linear-gradient(top,#EEE,#FFF);
    border-radius: 8px;
    box-shadow:3px 3px 10px #666;
    width: 60%;
}

legend {
    padding:5px 10px;
    background-color:#4F709F;
    color:#FFF;
    font-size: 22px;
    font-weight: bold;
    border-radius:3px;
    box-shadow:2px 2px 4px #666;
}

.sp {
    padding:5px 10px;
    background-color:#88cc00;
    color:#FFF;
    font-size: 22px;
    font-weight: bold;
    border-radius:3px;
    box-shadow:2px 2px 4px #666;
}
